<span>
  <svg width="" height="">
  <use href="{{flags.svg}}"></use>
</svg>
</span>
 <h1>{{name}}</h1>
 <p>Capital: {{capital}}</p>
 <p>Population: {{population}}</p>
 {{#each languages}}
 <p>Languages: {{language.name}}</p>
 {{/each}}

 
